.btn {
  &--blank {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0.9;
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}
